$PrimaryColor: #03fcf4;
$SecondaryColor: #09e827;
$TextColor: #fff;

//No estuve pudiendo enlazar mi partial de _variables.scss y mi partial _mixins.scss
//Sigo buscando soluciones al respecto, pero por el momento pareciera que la única forma
//que tengo de hacer funcionar las variables y mixins sería declarandolas en el principio
//del partial en el que quiero que aparezcan.