
.header {
    z-index: 1;
    grid-area:header;

    nav {
        .navbar-brand {
            @include Title-Styles;
            color: $TextColor;
        }
        z-index: 1;
        form {
            button {
                color: $PrimaryColor;
                border-color: $SecondaryColor;
                font-size: 1.2rem;
            }
        }
        .nav__socialmedia-box {
            display: flex;
            justify-content: center;
            align-items: center;
            transition:.5s;
            :hover {
                color:$PrimaryColor;
                transform:scale(1.3);
            }
        }
        a {
            color: $TextColor;
            font-family: 'poppins', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .dropdown {
            color: $TextColor;
    
            &-menu {
                background-color: rgba(56, 53, 53, 0.609);
    
                .dropdown-item {
                    color: $TextColor;
                    min-width:200px;
                }
    
            }
        }
    }

}
